body {
    font: 12px sans-serif;
}
#container>.title {
    font: 24px sans-serif;
    padding-left: 100px;
    padding-top: 30px;
}
.step>.title {
    font: 24px sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

#vis {
    display: inline-block;
    position:fixed;
    margin-left:50px;
    z-index:1;
}
.x-axis {
    padding-top: 20px;
}
.brush {
    
}

#options {
    margin-top:600px;
    display: inline-block;
    position:fixed;
    margin-left:50px;

}

.hidden {
    display: none;
}

#sections {
    position:relative;
    display: inline-block;
    width: 460px;
    padding-left: 30px;
    margin-left:1000px;
    padding-top: 60px;
    top:0;
    z-index:90;
    padding-bottom: 400px;
    background-color: #fdfdfd;
}

.step {
    opacity: 0.1;
    margin-bottom: 200px;
    width: 400px;
    font-family: "TiemposTextWeb-Regular","Georgia";
    font-size: 16px;
    line-height: 23px;
}

.section-body {
    font: 14px sans-serif;
}

#extra-space {
    height: 400px;
  }

div.tooltip {
    color: #222;
    background-color: #fafafa;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    z-index: 100;
    position: absolute;
}
.states :hover {
    fill-opacity: .7;
}

path {
    fill: darkgray;
    stroke: white;
}
path.selected {
    fill: lightskyblue;
    stroke: gray;

}

button.selected {
    border-color: burlywood;
}

circles {
    z-index: 3;
}